* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

/* LEFT SIDEBAR */
.sidebar {
  width: 260px;
  background: #002855;
  color: white;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar h3 {
  font-size: 16px;
  margin: 8px 0;
  opacity: 0.9;
}

.sidebar input {
  padding: 6px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.sidebar button {
  margin-top: 4px;
  padding: 6px 10px;
  background: #0353a4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.conversation-list {
  flex: 1;
  overflow-y: auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  min-height: 50px;
  padding: 6px;
}

.conversation-list button {
  display: block;
  width: 100%;
  padding: 6px;
  margin-bottom: 4px;
  border: none;
  border-radius: 4px;
  background: #0353a4; 
  color: white;
  cursor: pointer;
  text-align: left;
}
.conversation-list button:hover {
  background: #6495ED;
}

/* CHAT AREA */
.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: white;
}

.chat-header {
  padding: 14px 18px;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  background: #f8fafc;
  font-size: 16px;
}

.messages {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
  background: #fafafa;
}

.msg {
  background: white;
  padding: 6px 8px;
  border-radius: 6px;
  margin-bottom: 8px;
  max-width: 70%;
}

/* MESSAGE INPUT */
.composer {
  padding: 12px;
  border-top: 1px solid #ddd;
  background: #fff;
}

#textInput {
  width: 100%;
  resize: none;

  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid #7d8597;

  min-height: 38px;
  max-height: 140px;

  outline: none;
}

#textInput:focus {
  border-color: #002855;
}

.composer-toolbar {
  margin-top: 6px;

  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: space-between;
}

.left-toolbar {
  display: flex;
  gap: 6px;
  align-items: center;
}

.icon-btn {
  background: none;
  border: none;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  color: #444;
}

.icon-btn:hover {
  background: #f3f3f3;
}

/* TYPING INDICATOR */
.typingIndicator {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  color: #666;
  background: #f2f2f2;
  padding: 6px 10px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.dots::after {
  content: "";
  animation: dots 1.5s steps(3, end) infinite;
}

@keyframes dots {
  0%    {content: "";}
  33%   {content: ".";}
  66%   {content: "..";}
  100%  {content: "...";}
}

.hidden {
  display: none;
}