* {
  box-sizing: border-box;
}

body {
  background: red;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  /* background: #f8f8f8; */
}

.app {
  display: flex;
  height: 100vh;
}

/* LEFT SIDEBAR */
.sidebar {
  width: 260px;
  background: #3f0e40;
  color: white;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar h3 {
  font-size: 14px;
  margin: 8px 0;
  opacity: 0.9;
}

.sidebar input {
  padding: 6px;
  border-radius: 4px;
  border: none;
}

.sidebar button {
  padding: 6px;
  background: #611f69;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.conversation-list {
  flex: 1;
  overflow-y: auto;
}

/* CHAT AREA */
.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: white;
}

.chat-header {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.messages {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
  background: #fafafa;
}

.msg {
  margin-bottom: 8px;
  padding: 6px 8px;
  background: white;
  border-radius: 6px;
  max-width: 70%;
}

/* MESSAGE INPUT */
.composer {
  display: flex;
  gap: 8px;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.composer input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.composer button {
  padding: 8px 14px;
  background: #007a5a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
